<section class="py-12 px-8 font-mono">
  <p class="text-white uppercase pr-[40%] text-sm">Impulsionados pelo movimento e pela narrativa, criamos histórias visuais que inspiram, envolvem e transformam. cada frame segue em frente — assim como sua marca.</p>
  <a href="#histories" class="text-white uppercase flex text-xs py-8">Descubra mais <img class="pl-2" src="/assets/arrow-down.svg" alt="Seta para baixo"></a>
  <div class="rounded-3xl size-full overflow-hidden">
    <img src="/assets/placeholder.png" alt="">
  </div>
</section>