<section id="histories" class="bg-white px-8 py-12">
  <h2 class="uppercase font-[Anton, sans serif] font-bold text-6xl">
    Histórias que <span class="text-(--color-blue-normal-active)">movem</span>
  </h2>
  <div class="flex justify-between py-6">
    <div class="font-mono py-2">
      <h3 class="uppercase font-bold">Quem somos</h3>
      <p class="text-sm pr-8 py-4">Na Machado.mov, transformamos ideias em narrativas visuais impactantes. Criamos filmes que não apenas contam histórias, mas fazem marcas e pessoas se moverem.
      <br> Nosso compromisso é com a inovação, a autenticidade e a evolução constante. Cada frame carrega emoção, cada cena tem propósito.
      </p>
      <div class="flex justify-around text-white">
        <div class="rounded-3xl bg-(--color-blue-normal-active) p-8 text-center">
          <p class="text-4xl">8+</p>
          <p class="font-mono">Anos de experiência</p>
        </div>
        <div class="rounded-3xl bg-(--color-blue-normal-active) p-8 text-center">
          <p class="text-4xl">150+</p>
          <p class="font-mono">Projetos realizados</p>
        </div>
      </div>
    </div>
    <div class="rounded-3xl overflow-hidden max-w-100 max-h-100">
      <img src="assets/placeholder.png" alt="">
    </div>
  </div>
</section>