<section>
  <h2 class="uppercase text-white">Projetos</h2>
  <div class="grid grid-cols-2 gap-4 px-8">
    {% import 'sections/card-macro.njk' as macro %}
    {{ macro.card('assets/placeholder.png', 'Teste', 'Testte do teste do teste', '2024', 'Maceió/Al')}}
    {{ macro.card('assets/placeholder.png', 'Teste', 'Testte do teste do teste', '2024', 'Maceió/Al')}}
  </div>
</section>