<footer>
  <ul class="text-white uppercase p-6 flex justify-around font-mono text-base">
    {% include 'sections/menu.html' %}
  </ul>
  <ul class="flex gap-10 items-center justify-center">
    <li>
      <a href="https://www.instagram.com/machado.mov" target="_blank">
        <img src="/assets/instagram.svg" alt="Logo instagram">
      </a>
    </li>
    <li>
      <a href="mailto:" target="_blank">
        <img src="/assets/gmail.svg" alt="Direciona para gmail">
      </a>
    </li>
  </ul>
  <a href="/" class="h-31 py-6 flex items-center justify-center">
    <img src="/assets/logo.svg" alt="Logo gmail">
  </a>
</footer>