<header class="w-full items-center flex justify-between p-6">
  <a>
    <img src="/assets/logo.svg" alt="Logo" class="h-12">
  </a>
  <nav>
    <ul class="flex gap-10 uppercase text-white">
      {% include 'sections/menu.html' %}
    </ul>
  </nav>
</header>